<div class="show-pl">
  <lei lei="lei"></lei>
  <div class="comissoes grid_8">
	<h2>Comissoes</h2>
	<ul>
	  <li ng-repeat="com in lei.comissoes" class="label label-info">
		{{com.nome}}
	  </li>
	</ul>
  </div>
  <div class="tags grid_8">
	<h2>Tags</h2>
	<tagger tags="lei.tags"></tagger>
  </div>

  <!--<div class="grid_12" style="border: 1px solid black;" ng-show="lei.votes.representantes">
	<h2><a  data-toggle="collapse" data-target="#showgroups">Voting Groups</a></h2>
	<div id="showgroups" class="accordion-body collapse"><d3link votes="lei.votes"></d3link></div>
  </div>-->
</div>
