$opposite_color: rgba(236,28,36,0.9);
$halfOpposite_color: rgba(244,119,124,1);
$abstention_color: rgba(200,200,200,1);
$halfFavorable_color: rgba(136,211,146,1);
$favorable_color: rgba(57,181,74,0.9);
