<div class="choiceDetails {{selectedLevel | levelClass}}">
  <span>
    <label>{{selectedCat | capitalize}}  <strong>{{selectedLevel | levelString}}</strong></label>
  </span>
  <ul class="membersList">
    <li class="memberContainer" ng-repeat="rep in details">
      <img class="memberAvatar" ng-src="{{rep | deputyLogo}}" alt="">
      <hgroup>
        <h1>{{rep.name}}</h1>
        <h2>{{rep.party}}</h2>
      </hgroup>
    </li>
    <li class="callMore clearfix">
      <a ng-click="showAll()">carregar todos ({{allDetails.length}})</a>
    </li>
  </ul>
</div>

<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{selectedCat | capitalize}}  {{selectedLevel | levelString}} lei &ldquo;{{lei.title}}&rdquo;</h3>
  </div>
  <div class="modal-body">
	  <ul class="membersList">
    <li class="memberContainer" ng-repeat="rep in showDetails">
      <img class="memberAvatar" ng-src="{{rep | deputyLogo}}" alt="">
      <hgroup>
        <h1>{{rep.name}}</h1>
        <h2>{{rep.party}}</h2>
      </hgroup>
    </li>
  </ul>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn">Fechar</a>
  </div>
</div>
