  <li class="listIten {{yourVoteStatusClass()}}">
    <div class="grid_4 itenInfos">
      <h1>
        <span>{{lei.id}}</span>
		{{lei.title}}
      </h1>
      <p class="abstract">
		{{lei.summary}}
		(veja mais)
      </p>
      <ul class="actions">
        <li class="status">
          status <span ng-bind-html-unsafe="lawStatus()"></span>
        </li>
        <li class="emailIten">
          <a href="#/enviar_mensagem/{{lei.id}}">escreva para seu(s) representantes(s)</a>
        </li>
        <li class="blockIten">
          retirar da minha inbox
        </li>
        <li class="shareIten">
          publicar na minha timeline
        </li>
      </ul>
    </div>
    <div class="grid_8 itenRates clearfix">
      <div class="ratingResults userChoice">
        <label class="grid_2">
          você 
          <span class="rateLabel"><b class="icon-white"></b>{{yourVoteStatus()}}</span>
        </label>
        <ul class="grid_6">
          <li class="opposite {{yourVoteChosen(1)}}">contra</li>
          <li class="halfOpposite  {{yourVoteChosen(2)}}">parc. contra</li>
          <li class="abstention  {{yourVoteChosen(3)}}">abstenção</li>
          <li class="halfFavorable  {{yourVoteChosen(4)}}">parc. favor</li>
          <li class="favorable  {{yourVoteChosen(5)}}">a favor</li>
        </ul>
      </div>
      
      <div class="ratingResults representativesChoice {{detailed('representantes')}}">
        <label class="grid_2">
          representantes 
        </label>
        <ul class="grid_6">
          <li class="opposite {{selectedVote('representantes', 1)}}" style="width:{{lei.votes.representantes.contra}}%;"
			  ng-click="show('representantes', 1)">
			{{lei.votes.representantes.contra}}%
		  </li>
          <li class="halfOpposite {{selectedVote('representantes', 2)}}" style="width:{{lei.votes.representantes.halfContra}}%;"
			  ng-click="show('representantes', 2)">
			{{lei.votes.representantes.halfContra}}%
		  </li>
          <li class="abstention {{selectedVote('representantes', 3)}}" style="width:{{lei.votes.representantes.abstention}}%;"
			  ng-click="show('representantes', 3)">
			{{lei.votes.representantes.abstention}}%
		  </li>
          <li class="halfFavorable  {{selectedVote('representantes', 4)}}" style="width:{{lei.votes.representantes.halfFavorable}}%;"
			  ng-click="show('representantes', 4)">
			{{lei.votes.representantes.halfFavorable}}%
		  </li>
          <li class="favorable  {{selectedVote('representantes', 5)}}" style="width:{{lei.votes.representantes.favorable}}%;"
			  ng-click="show('representantes', 5)">
			{{lei.votes.representantes.favorable}}%
		  </li>
        </ul>
		<choice-details/>
      </div>
      
      <div class="ratingResults friendsChoice  {{detailed('amigos')}}">
        <label class="grid_2">
          amigos 
        </label>
        <ul class="grid_6">
		  <li class="opposite {{selectedVote('amigos', 1)}}" style="width:{{lei.votes.amigos.contra}}%;"
			  ng-click="show('amigos', 1)">
			{{lei.votes.amigos.contra}}%
		  </li>
          <li class="halfOpposite {{selectedVote('amigos', 2)}}" style="width:{{lei.votes.amigos.halfContra}}%;"
			  ng-click="show('amigos', 2)">
			{{lei.votes.amigos.halfContra}}%
		  </li>
          <li class="abstention {{selectedVote('amigos', 3)}}" style="width:{{lei.votes.amigos.abstention}}%;"
			  ng-click="show('amigos', 3)">
			{{lei.votes.amigos.abstention}}%
		  </li>
          <li class="halfFavorable  {{selectedVote('amigos', 4)}}" style="width:{{lei.votes.amigos.halfFavorable}}%;"
			  ng-click="show('amigos', 4)">
			{{lei.votes.amigos.halfFavorable}}%
		  </li>
          <li class="favorable  {{selectedVote('amigos', 5)}}" style="width:{{lei.votes.amigos.favorable}}%;"
			  ng-click="show('amigos', 5)">
			{{lei.votes.amigos.favorable}}%
		  </li>
        </ul>
		<choice-details/>
      </div>
      
      <div class="ratingResults partiesChoice  {{detailed('partidos')}}">
        <label class="grid_2">
          partidos 
        </label>
        <ul class="grid_6">
		  <li class="opposite {{selectedVote('partidos', 1)}}" style="width:{{lei.votes.partidos.contra}}%;"
			  ng-click="show('partidos', 1)">
			{{lei.votes.partidos.contra}}%
		  </li>
          <li class="halfOpposite {{selectedVote('partidos', 2)}}" style="width:{{lei.votes.partidos.halfContra}}%;"
			  ng-click="show('partidos', 2)">
			{{lei.votes.partidos.halfContra}}%
		  </li>
          <li class="abstention {{selectedVote('partidos', 3)}}" style="width:{{lei.votes.partidos.abstention}}%;"
			  ng-click="show('partidos', 3)">
			{{lei.votes.partidos.abstention}}%
		  </li>
          <li class="halfFavorable  {{selectedVote('partidos', 4)}}" style="width:{{lei.votes.partidos.halfFavorable}}%;"
			  ng-click="show('partidos', 4)">
			{{lei.votes.partidos.halfFavorable}}%
		  </li>
          <li class="favorable  {{selectedVote('partidos', 5)}}" style="width:{{lei.votes.partidos.favorable}}%;"
			  ng-click="show('partidos', 5)">
			{{lei.votes.partidos.favorable}}%
		  </li>
        </ul>
        <div class="choiceDetails opposite">
          <span>
            <label>partidos</label>
          </span>
          <ul class="grid_6 opposite partiesList">
            <li class="" style="width:{{lei.votes.partidos.contra}}%;">
              <p>AAA</p>
            </li>
            <li class="" style="width:{{lei.votes.partidos.halfContra}}%;">
              <p>AAA</p>
            </li>
            <li class="" style="width:{{lei.votes.partidos.abstention}}%;">
              <p>AAA</p>
            </li>
            <li class="" style="width:{{lei.votes.partidos.halfFavorable}}%;">
              <p>AAA</p>
            </li>
            <li class="" style="width:{{lei.votes.partidos.favorable}}%;">
              <p>AAA</p>
            </li>
          </ul>
        </div>  
      </div>
    </div>
  </li>
