<!--
// Copyright 2012/2013 de Gustavo Steinberg, Flavio Soares, Pierre Andrews, Gustavo Salazar Torres, Thomaz Abramo
//
// Este arquivo é parte do programa Vigia Político. O projeto Vigia
// Político é um software livre; você pode redistribuí-lo e/ou
// modificá-lo dentro dos termos da GNU Affero General Public License
// como publicada pela Fundação do Software Livre (FSF); na versão 3 da
// Licença. Este programa é distribuído na esperança que possa ser útil,
// mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a
// qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a licença para
// maiores detalhes. Você deve ter recebido uma cópia da GNU Affero
// General Public License, sob o título "LICENCA.txt", junto com este
// programa, se não, acesse http://www.gnu.org/licenses/
-->


<div class="user_in" style="margin-top: -100px">
<h3> Olá {{user.firstName}}</h3>
    
<a href="/logout">
<div id="botao_fundopreto">
SAIR
</div>
</a>
</div>

<ul id="config_tab_titulos">
<li style="width: 18%;"> logado em:</li>
<li style="width: 18%;"> temas de interesse: </li>
<li style="width: 18%;"> representantes: </li>
<li style="width: 18%;"> amigos conectados: </li>
<li style="width: 14%;"> votou em: </li>
<li style="width: 14%;"> opções:</li>
</ul >

<ul class="config_tab_opcoes" >

  <li id="configBox_places"  style="width: 18%;border-right: 1px;
border-style: solid;
border-color: black;">
    <ul>
    <li ng-repeat="(regionIndex, region) in regions.slice(0,4)"><h3>{{region.description}}</h3></li>
    </ul>
    <i class="plus_button">
    </i>
	<div class="wrap-center">
	<div class="outer-center">
	<div class="inner-center">
    <a href="#/step1">
    <h4 id="botao_mais_configBox" >
+ LOCAIS</h4></a>
</div>
</div>
</div>
  </li>
  
  <li id="configBox_themes"  style="width: 18%; border-right: 1px;
border-style: solid;
border-color: black;">
    <ul >
      <li ng-repeat="(tagIndex, tag) in tags.slice(0,4)"><h3>{{tag.name}}</h3></li>
    </ul>
    <i class="plus_button">
    </i>
	<div class="wrap-center">
    <div class="outer-center">
	<div class="inner-center">
    <a href="#/step2">
    <h4 id="botao_mais_configBox" >
+ TEMAS
    </h4>
    </a>
</div>
</div>
</div>
  </li>
  <li id="configBox_representante"  style="width: 18%; border-right: 1px;
border-style: solid;
border-color: black;">
    <ul>
    <a href="#">
      <li class="rep_icon_big"> <img src="/representante_big-06.jpg" alt="logo"> </li>
      <li class="rep_icon_big"> <img src="/representante_big-07.jpg" alt="logo"></li>
      <li class="rep_icon_big "> <img src="/representante_big-08.jpg" alt="logo"> </li>
      <li class="rep_icon_big "> <img src="/representante_big-09.jpg" alt="logo"> </li>
      <li class="rep_icon_big"> <img src="/representante_big-07.jpg" alt="logo"></li>
      <li class="rep_icon_big"> <img src="/representante_big-06.jpg" alt="logo"> </li>
    </ul>
    </a>
	<div class="wrap-center">
	    <div class="outer-center">
	<div class="inner-center">
    <a href="#/step3">
    <h4 id="botao_mais_configBox" >
+ REPRESENTANTES
</h4>
    </a>
</div>
</div>
</div>
   </li>
  <li id="configBox_friends" c style="width: 18%; border-right: 1px;
border-style: solid;
border-color: black;">
     <ul>
     <a href="#">
      <li class=""> <img src="/amigo1.jpg" alt="logo"> </li>
      <li class=""> <img src="/amigo2.jpg" alt="logo"> </li>
      <li class=""> <img src="/amigo3.jpg" alt="logo"> </li>
      <li class=""> <img src="/amigo4.jpg" alt="logo"> </li>
      
      <li class=""> <img src="/amigo1.jpg" alt="logo"> </li>
      <li class=""> <img src="/amigo2.jpg" alt="logo"> </li>
      <li class=""> <img src="/amigo3.jpg" alt="logo"> </li>
      <li class=""> <img src="/amigo4.jpg" alt="logo"> </li>
      
      
      </a>
    </ul>
	<div class="wrap-center">
		    <div class="outer-center">
	<div class="inner-center">
    <h4 id="botao_mais_configBox" >
+ AMIGOS
</h4>
</div>
</div>
</div>
  </li>
  <li id="configBox_votacoes"  style="width: 14%; border-right: 1px;
border-style: solid;
border-color: black;">
     <h1><span>{{votes.length}}</span> leis</h1>
     <h2>vote mais e melhores o sistema</h2>
     
     <i style=" margin:0 auto; display:block;" class="icone-interrogacao"></i> 
     <div class="wrap-center">
		    <div class="outer-center">
	<div class="inner-center">
    <a href="#/step4">
    <h4 class="botao_mais_configBox" >
+ VOTOS
</h4>
</a>
</div>
</div>
</div>
  </li>
  
  <li id="configBox_opcoes"  style="width: 14%; ">
<h1>email:<h1>
     <h2>semanal<h2>
     <h1>Ordenar por:<h1>
     <h2>contra<h2>
<div class="wrap-center">
		    <div class="outer-center">
	<div class="inner-center">
    <h4 id="botao_mais_configBox" >
+ OPÇÕES
</h4>
</div>
</div>
</div>
</div>
  </li>
  
  </ul>
<div style="position:absolute; left:768px; margin-left:-15px; margin-top:-9px;">
<a href="#"><i class="icone-menos-verm"></i></a>
</div>