<!--
// Copyright 2012/2013 de Gustavo Steinberg, Flavio Soares, Pierre Andrews, Gustavo Salazar Torres, Thomaz Abramo
//
// Este arquivo é parte do programa Vigia Político. O projeto Vigia
// Político é um software livre; você pode redistribuí-lo e/ou
// modificá-lo dentro dos termos da GNU Affero General Public License
// como publicada pela Fundação do Software Livre (FSF); na versão 3 da
// Licença. Este programa é distribuído na esperança que possa ser útil,
// mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a
// qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a licença para
// maiores detalhes. Você deve ter recebido uma cópia da GNU Affero
// General Public License, sob o título "LICENCA.txt", junto com este
// programa, se não, acesse http://www.gnu.org/licenses/
-->


<img style= "position:absolute; left: 70px; top: 25px;" src="/logo_branco.png" alt="logo"></img>
<nav class="menu_footer">
<ul>
<li><a href="#">O QUE É<a></li>
<li><a href="#">SAIBA MAIS SOBRE</a><p>
<h2><a href="#">Processo Legislativo</h2><h2>Projeto de Lei</h2></a></li>
<li><a href="#">CONTATO</a></li>
</ul>
</nav>