<div class="logo">
<img src="logo_header.jpg" alt="logo">
<div class="social_logo">

</div>

</div>

<nav id="menu_cima">
<ul>
<li><a href="#">HOME</a></li>
<li><a href="#">AJUDA</a></li>
<li><a href="#">CONVIDE AMIGOS</a></li>
<li><a href="#">CONTATO</a></li>
</ul>
</nav>
<div id="header_things">

<div class="search_box">
<form id="search_top" >
     <input type="text" placeholder="Busque leis, representantes, temas, partidos, campanhas" ng-model="yourName" class="ng-pristine ng-valid" style="height: 25px; font-family: Univers47;">
	 <button type="submit"></button>
    </form>
</div>

</div>