<!--
// Copyright 2012/2013 de Gustavo Steinberg, Flavio Soares, Pierre Andrews, Gustavo Salazar Torres, Thomaz Abramo
//
// Este arquivo é parte do programa Vigia Político. O projeto Vigia
// Político é um software livre; você pode redistribuí-lo e/ou
// modificá-lo dentro dos termos da GNU Affero General Public License
// como publicada pela Fundação do Software Livre (FSF); na versão 3 da
// Licença. Este programa é distribuído na esperança que possa ser útil,
// mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a
// qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a licença para
// maiores detalhes. Você deve ter recebido uma cópia da GNU Affero
// General Public License, sob o título "LICENCA.txt", junto com este
// programa, se não, acesse http://www.gnu.org/licenses/
-->


<div class="logo">
<img src="logo_header.jpg" alt="logo">
<div class="social_logo">

</div>

</div>

<nav id="menu_cima">
<ul>
<li><a href="#">HOME</a></li>
<li popover="em desenvolvimento" popover-placement="top" popover-trigger="mouseenter"><a href="#">AJUDA</a></li>
<li popover="em desenvolvimento" popover-placement="top" popover-trigger="mouseenter"><a href="#">CONVIDE AMIGOS</a></li>
<li popover="em desenvolvimento" popover-placement="top" popover-trigger="mouseenter"><a href="#">CONTATO</a></li>
</ul>
</nav>
<div id="header_things">

<div class="search_box">
<form id="search_top" >
     <input type="text"  placeholder="Em desenvolvimento - Busque leis, representantes, temas, partidos, campanhas" ng-model="yourName" class="ng-pristine ng-valid" style="height: 25px; font-family: Univers47;">
	 <button type="submit"></button>
    </form>
</div>

</div>