<div class="grid_16" style="height: 25px;">
		<div class="grid_3" style="border: solid 1px; margin:0px; padding: 0px; background: black; color:white;" align="center">
			lei ou projeto
		</div>
		<div class="grid_2" style="border: solid 1px; margin:0px; padding: 0px; background: black; color:white;" align="center">
			sua opinião
		</div>
		<div class="grid_5" style="border: solid 1px; margin:0px; padding: 0px; background: black; color:white;" align="center">
			opinião de seus representantes
		</div>
		<div class="grid_4" style="border: solid 1px; margin:0px; padding: 0px; background: black; color:white;" align="center">
			opinião de seus amigos
		</div>
		<div class="grid_2" style="border: solid 1px; margin:0px; padding: 0px; background: black; color:white;" align="center">
			ações
		</div>
	</div>		