<!--
// Copyright 2012/2013 de Gustavo Steinberg, Flavio Soares, Pierre Andrews, Gustavo Salazar Torres, Thomaz Abramo
//
// Este arquivo é parte do programa Vigia Político. O projeto Vigia
// Político é um software livre; você pode redistribuí-lo e/ou
// modificá-lo dentro dos termos da GNU Affero General Public License
// como publicada pela Fundação do Software Livre (FSF); na versão 3 da
// Licença. Este programa é distribuído na esperança que possa ser útil,
// mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a
// qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a licença para
// maiores detalhes. Você deve ter recebido uma cópia da GNU Affero
// General Public License, sob o título "LICENCA.txt", junto com este
// programa, se não, acesse http://www.gnu.org/licenses/
-->



	<div id="tab1">
		<div class="tab_title">
			<ul>
				<li>
					<h1  style="margin-top: -10px;"> Projetos que merecem sua atenção </h1>
				</li>
			</div>
		<div style="width:98%; margin-left: auto;
margin-right: auto; margin-top: 10px; margin-botton:10px; "> 
			<ul id="law_tab_titulos" ng-include="'views/laws_dashboard_header.html'"></ul>			
			<div ng-include="'views/laws_dashboard_list.html'"></div>
		</div>
	</div>


