<!--
// Copyright 2012/2013 de Gustavo Steinberg, Flavio Soares, Pierre Andrews, Gustavo Salazar Torres, Thomaz Abramo
//
// Este arquivo é parte do programa Vigia Político. O projeto Vigia
// Político é um software livre; você pode redistribuí-lo e/ou
// modificá-lo dentro dos termos da GNU Affero General Public License
// como publicada pela Fundação do Software Livre (FSF); na versão 3 da
// Licença. Este programa é distribuído na esperança que possa ser útil,
// mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a
// qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a licença para
// maiores detalhes. Você deve ter recebido uma cópia da GNU Affero
// General Public License, sob o título "LICENCA.txt", junto com este
// programa, se não, acesse http://www.gnu.org/licenses/
-->


<span style="margin-top:10px" class="law_container" ng-init="hide_allText()" ng-repeat="(lawIndex, law) in laws">
<div  style="position:relative; " >

<div id="lawTitles_{{law.stdCode}}" style="height:20px; position:absolute; display:none; width:100%; top:-20px;"><ul id="law_tab_titulos">
			<li style="width: 34%; border-right:1px solid white; background-color: #2B2828;"> lei ou projeto</li>
<li style="width: 33%; border-right:1px solid white;"> opinião de seus representantes </li>
<li style="width: 33%"> opinião de seus amigos </li>
</ul>		
</div>	  

<div id="lawTitlesExt_{{law.stdCode}}" style="height:20px; position:absolute; background-color: #2B2828; display:none; width:100%; top:-20px;"><ul id="law_tab_titulos">
			<li style="width: 249px; border-right:1px solid white; "> lei ou projeto</li>
<li style="width: 499px;"> opiniões </li>
</ul>		
</div>	
<div ng-mouseover="show_law_text(law.stdCode)" ng-mouseleave="hide_law_text(law.stdCode)">
	<ul id="law_container_{{law.stdCode}}_normal"    class="law_box_compact">	
	



		<li id="law_infos_compact"  style="width: 23%; height:100%; border-width: 1px;
		border-style: solid;
		border-color: #BCBEC0;">
		<h2 style="font-size:16px; padding-bottom:4px">{{law.prefix}} {{law.stdCode}}/{{law.year}}</h2>
			<h4 style="font-size:11px; font-height:105%;">{{law.description | characters: 100}}</h4>
			<ul  style="padding-top:0px;">		
				<li><h3 >arvore</h3></li> 
				<li><h3>parques</h3></li>
				<li><h3>reforma</h3></li>
			</ul>

			<div style="position:absolute; left:100%; top:100%;  margin-left: -20px;
				margin-top: -20px;">
				<a href ng-click="showExtendedLaw(law.stdCode)"><i class="icone-mais_small"> </i></a>
			</div>
		</li>
		<li id="user_opinion" style="width: 11%; border-width: 1px; height:100%; 
			border-style: solid;
			border-color: #BCBEC0">				
					<div id="botao_contra">
					contra 
					</div>				
				<h1>(quer mudar?)</h1>
				<hr>
				<h2>18 dias </h2>
				<h3> para a votação </h3>
		</li>
		<li id="representante_opinion"  style="width: 33%; border-width: 1px; height:100%; 
		border-style: solid; position:relative;
		border-color: #BCBEC0;">
		<div>
			<ul>
			<label ng-repeat="congressman in representatives.slice(0,4)">
			<li class="contra">
		<img src="{{congressman.congressmanInfo.photoUrl}}" alt="{{congressman.user.firstName}} {{congressman.user.lastName}}" style="width: 100%">
	 <h1 class="hideable hd{{law.stdCode}}"> contra </h1>
  		</li>
		</label>
				</ul>
		</div>
		<div style="position:absolute; left:100%; top:0px;  margin-left: -20px;">
			<a href ng-click="show_congressmanBox(law.stdCode, '0'); showExtendedLaw(law.stdCode) "><i class="icone-mais_small"> </i></a>
		</li>
		<li id="friends_opinion" c style="width: 33%; height:100%;  border-width: 1px;
		border-style: solid;  position:relative;
		border-color: #BCBEC0;">
		
		<ul>
			<a href="#">
				<li class="amigo_icon_big afavor"> <img src="/amigo1.jpg" alt="logo"> <h1 class="hideable hd{{law.stdCode}}"> a favor</li>
				<li class="amigo_icon_big parfavor"> <img src="/amigo2.jpg" alt="logo"> <h1 class="hideable hd{{law.stdCode}}"> parc. favor </li>
				<li class="amigo_icon_big contra"> <img src="/amigo3.jpg" alt="logo"> <h1 class="hideable hd{{law.stdCode}}"> contra </li>
				<li class="amigo_icon_big contra"> <img src="/amigo4.jpg" alt="logo"> <h1 class="hideable hd{{law.stdCode}}"> contra </li>

			</a>
		</ul>
		<div style="position:absolute; left:100%; top:0px;  margin-left: -20px;">
		<a href ng-click="showExtendedLaw(law.stdCode)"><i class="icone-mais_small"> </i></a>
		</li>
				</ul>
				<div id="user_actions_{{law.stdCode}}"  style="position:absolute; display:none; right:0px; bottom:0px;background-color: #BCBEC0; opacity:0.8">
		<ul id="law_icons"> <a href="#">
			<li> <i class="icone-campanha icone20px"></i></li>
			<li> <i class="icone-mensagem"></i></li>
			<li> <i class="icone-ban"></i></li>
			<li> <i class="icone-fb"></i></li></a>
		</div>
	</ul>
	</div>
	</div>
</div>
	</div>
	
	
<!-- extended law -->




<div ng-mouseover="show_ExtLaw_things(law.stdCode)" ng-mouseleave="hide_ExtLaw_things(law.stdCode)">
	<ul id="law_container_{{law.stdCode}}_extended" class="law_box_full" style="display:none">
		<li id="law_infos_full" style="width: 33%; height:100%;border-width: 1px;
			border-style: solid;position:relative;
			border-color: #BCBEC0;">
			<h2>Nro. {{law.typeId}} {{law.stdCode}}/{{law.year}}</h2>
			<h4>{{law.description | characters: 400}}</h4>
			
			<ul style="padding-top:5px; overflow:hidden; max-height:70px">
				<li><h3>arvore</h3></li>
				<li><h3>parques</h3></li>
				<li><h3>reforma</h3></li>
				<li><h3>ambiente</h3></li>
				<li><h3>parques</h3></li>
				<li><h3>reforma</h3></li>
				</ul>
		</li>

		<li id="law_stats_full" style="width: 67%; height:100%;border-width: 1px;
			border-style: solid;position:relative; padding: 10px;
			border-color: #BCBEC0;">

			<div class="law_userRating">
				<label style="position:relative; float:left; " class="grid_2"> VOCÊ</label>
				<ul>
					<a href ng-click="vote(1,law)"><li class="contra" style="width:71px; border-color: black;border-radius: 5px; margin-right:2px">contra</li></a>
					<a href ng-click="vote(2,law)"><li class="parcontra" style="width:71px;border-radius: 5px;margin-right:2px">par. contra</li></a>
					<a href ng-click="vote(3,law)"><li class="abstencao" style="width:71px;border-radius: 5px;margin-right:2px">abstenção</li></a>
					<a href ng-click="vote(4,law)"><li class="parfavor" style="width:71px;border-radius: 5px;margin-right:2px">par. a favor</li></a>
					<a href ng-click="vote(5,law)"><li class="afavor" style="width:71px;border-radius: 5px;">a favor</li></a>
				</ul>
			</div>

			<hr style="width:100%; display:inline-block; margin: 10px 0px 0px; padding: 0px 10px;">

			<div class="ratingResults rating_Representante">

				<label style="position:relative; float:left; width:114px; background-color: #D1D3D4; padding-left:10px;" class="grid_2"> representantes </label>
				<ul class="grid_6">
					<a href ng-click="show_congressmanBox(law.stdCode, '0')"> <li class="contra" style="width:10%;">—%</li></a>
					<a href ng-click="show_congressmanBox(law.stdCode, '1')"> <li class="parcontra" style="width:24%;">—%</li></a>
					<a href ng-click="show_congressmanBox(law.stdCode, '2')"> <li class="abstencao" style="width:30%;">—%</li></a>
					<a href ng-click="show_congressmanBox(law.stdCode, '3')"> <li class="parfavor" style="width:16%;">—%</li></a>
					<a href ng-click="show_congressmanBox(law.stdCode, '4')"> <li class="afavor" style="width:20%;">—%</li></a>
				</ul>
			</div>
			
			
<div id="congressmanOpinionBox_{{law.stdCode}}" style="height:130px; border: 1px black solid; width:478px; display:none; position:relative;">
<a href ng-click="hide_congressmanBox(law.stdCode)"><i class="icon-red icon-remove" style="position:absolute; right:0px; top:3px;"></i></a>
<ul class="lista_lawBox_congressman" style="height:100%">
  		<label ng-repeat="congressman in congressmanByLaw_opinion">
			<li>
		<div style=" display: table; margin: 0 auto;">
		<img src="{{congressman.congressman.photoUrl}}" alt="{{congressman.user.firstName}} {{congressman.user.lastName}}" height="50">
		</div>
		<div style=" display: table; margin: 0 auto;">
      	{{congressman.user.firstName}} {{congressman.user.lastName}}
		</div>
  		</li>
		</label>
		</ul>
</div>


			<div class="ratingResults rating_Friends">
				<label style="position:relative; float:left; width:114px; background-color: #D1D3D4; padding-left:10px;" class="grid_2"> amigos </label>
				<ul class="grid_6">
					<li class="contra" style="width:5%;">—%</li>
					<li class="parcontra" style="width:24%;">—%</li>
					<li class="abstencao" style="width:43%;">—%</li>
					<li class="parfavor" style="width:8%;">—%</li>
					<li class="afavor" style="width:20%;">—%</li>
				</ul>
			</div>

			<div class="ratingResults rating_Partidos">
				<label style="position:relative; float:left; width:114px; background-color: #D1D3D4; padding-left:10px;" class="grid_2"> partidos </label>
				<ul class="grid_6">
					<li class="contra" style="width:12%;">—%</li>
					<li class="parcontra" style="width:24%;">—%</li>
					<li class="abstencao" style="width:36%;">—%</li>
					<li class="parfavor" style="width:8%;">—%</li>
					<li class="afavor" style="width:20%;">—%</li>
				</ul>
			</div>

			<div class="user_action_full">
				<ul> 
					<a href="#">
						<div style="width:50%; display:inline-block; float:left; padding-left:10px;">
							<li> <i class="icone-mensagem"></i><h1>escreva para seu(s) representantes(s)</h1></li>
							<li> <i class="icone-campanha icone20px"></i><h1> comece uma campanha para esta lei</h1></li>
						</div>
						<div style="width:50%; display:inline-block; float:left; padding-left:10px; border-left: 2px solid #BCBEC0">
							<li> <i class="icone-ban"></i><h1>não tenho interesse nessa lei</h1></li>
							<li> <i class="icone-fb"></i><h1>publicar na minha timeline</h1>
							</li>
						</a>

					</ul>
				</div>
				<div style="position:absolute; left:100%; top:100%; margin-left:-29px;  margin-top:-29px; ">
					<a href="#">
						<a href ng-click="hideExtendedLaw(law.stdCode)"><i class="icone-menos"></i></a>
					</a>
				</div>
			</div>
		</li>
	</ul>
</ul>
</div>




<!-- <ul class="">

</ul> -->

<!-- 	<div class="grid_16" style="height: 50px; ">
			<div class="grid_3" style="margin:0px; padding: 0px;background: #ededed; height: 90px; border: solid 1px #c4c4c4" align="center">
				{{law.title}}
			</div>
			<div class="grid_2" style="margin:0px; padding: 0px;background: #ededed; height: 90px; border: solid 1px #c4c4c4" align="center">
				CONTRA
			</div>
			<div class="grid_5" style="margin:0px; padding: 0px;background: #ededed; height: 90px; border: solid 1px #c4c4c4" align="center">
				
			</div>
			<div class="grid_4" style="margin:0px; padding: 0px;background: #ededed; height: 90px; border: solid 1px #c4c4c4" align="center">
				
			</div>
			<div class="grid_2" style="margin:0px; padding: 0px;background: #ededed; height: 90px; border: solid 1px #c4c4c4" align="center">
				
			</div>
		</div>	 -->
