<div class="grid_16 laws_container" style="margin-top: 0px" ng-repeat="law in laws">
	<div class="grid_16" style="height: 50px; ">
			<div class="grid_3" style="margin:0px; padding: 0px;background: #ededed; height: 90px; border: solid 1px #c4c4c4" align="center">
				{{law.title}}
			</div>
			<div class="grid_2" style="margin:0px; padding: 0px;background: #ededed; height: 90px; border: solid 1px #c4c4c4" align="center">
				CONTRA
			</div>
			<div class="grid_5" style="margin:0px; padding: 0px;background: #ededed; height: 90px; border: solid 1px #c4c4c4" align="center">
				
			</div>
			<div class="grid_4" style="margin:0px; padding: 0px;background: #ededed; height: 90px; border: solid 1px #c4c4c4" align="center">
				
			</div>
			<div class="grid_2" style="margin:0px; padding: 0px;background: #ededed; height: 90px; border: solid 1px #c4c4c4" align="center">
				
			</div>
		</div>	
	</div>