<div class="main_content" ng-controller="RegisterUserCtrl" style="border: 0px">
	
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<br>
<a href="#/step2" class="btn btn-success"><b>Pular</b></a>
</div>
