<div class="grid_16" ng-controller="RegisterUserCtrl">
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<p>Selecione as suas localidades de interesse:</p>
<br>
<a href="#/step2" class="btn btn-success"><b>Pular</b></a>
</div>
