<div class="config_box">

<ul id="config_tab_titulos">
<li style="width: 18%;"> logado em:</li>
<li style="width: 18%;"> temas de interesse: </li>
<li style="width: 18%;"> representantes </li>
<li style="width: 18%;"> amigos conectados </li>
<li style="width: 14%;"> votou em: </li>
<li style="width: 14%;"> opções</li>
</ul >

<ul class="config_tab_opcoes" >

  <li id="configBox_places"  style="width: 18%;border-right: 1px;
border-style: solid;
border-color: black;">
    <ul >
    <li><h3>Rio de Janeiro</h3></li>
    <li><h3>São Paulo</h3></li>
    <li><h3>PR</h3></li>
    <li><h3>Brasil</h3></li>
    </ul>
    <i class="plus_button">
    </i>
    <div id="botao_mais_configBox">
+ LOCAIS
</div>
  </li>
  
  <li id="configBox_themes"  style="width: 18%; border-right: 1px;
border-style: solid;
border-color: black;">
    <ul >
    <li><h3>arvore</h3></li>
    <li><h3>parques</h3></li>
    <li><h3>reforma</h3></li>
    <li><h3>ambiente</h3></li>
    <li><h3>saude</h3></li>
    <li><h3>imposto</h3></li>
    </ul>
    <i class="plus_button">
    </i>
    <div id="botao_mais_configBox">
+ TEMAS
</div>
  </li>
  <li id="configBox_representante"  style="width: 18%; border-right: 1px;
border-style: solid;
border-color: black;">
    <ul>
    <a href="#">
      <li class="rep_icon_big"> <img src="/representante_big-06.jpg" alt="logo"> </li>
      <li class="rep_icon_big"> <img src="/representante_big-07.jpg" alt="logo"></li>
      <li class="rep_icon_big "> <img src="/representante_big-08.jpg" alt="logo"> </li>
      <li class="rep_icon_big "> <img src="/representante_big-09.jpg" alt="logo"> </li>
      <li class="rep_icon_big"> <img src="/representante_big-07.jpg" alt="logo"></li>
      <li class="rep_icon_big"> <img src="/representante_big-06.jpg" alt="logo"> </li>
    </ul>
    </a>
    <div id="botao_mais_configBox">
+ REPRESENTANTES
</div>
  </li>
  <li id="configBox_friends" c style="width: 18%; border-right: 1px;
border-style: solid;
border-color: black;">
     <ul>
     <a href="#">
      <li class="amigo_icon_big afavor"> <img src="/amigo1.jpg" alt="logo"> </li>
      <li class="amigo_icon_big parfavor"> <img src="/amigo2.jpg" alt="logo"> </li>
      <li class="amigo_icon_big contra"> <img src="/amigo3.jpg" alt="logo"> </li>
      <li class="amigo_icon_big contra"> <img src="/amigo4.jpg" alt="logo"> </li>
      
      <li class="amigo_icon_big afavor"> <img src="/amigo1.jpg" alt="logo"> </li>
      <li class="amigo_icon_big parfavor"> <img src="/amigo2.jpg" alt="logo"> </li>
      <li class="amigo_icon_big contra"> <img src="/amigo3.jpg" alt="logo"> </li>
      <li class="amigo_icon_big contra"> <img src="/amigo4.jpg" alt="logo"> </li>
      
      
      </a>
    </ul>
    <div id="botao_mais_configBox">
+ AMIGOS
</div>
  </li>
  <li id="configBox_votacoes"  style="width: 14%; border-right: 1px;
border-style: solid;
border-color: black;">
     <h1><span>XXX</span> leis</h1>
     <h2>vote mais e melhores o sistema</h2>
     
     <i style=" margin:0 auto; display:block;" class="icone-interrogacao"></i> 
     <div id="botao_mais_configBox">
+ VOTOS
</div>
  </li>
  
  <li id="configBox_opcoes"  style="width: 14%; ">
<h1>email:<h1>
     <h2>semanal<h2>
     <h1>outra coisa:<h1>
     <h2>opção 2<h2>
     <div id="botao_mais_configBox">
+ OPÇÕES
</div>
  </li>
  
  </ul>
<div style="position:absolute; left:768px; margin-left:-15px; margin-top:-9px;">
<a href="#"><i class="icone-menos-verm"></i></a>
</div>
</div>