    
    <div class="grid_16">
      <div class="grid_2" style="border: solid 1px; height:100px; margin: 0px; padding: 0px">
        <label style="font-size: 10px;" align="center">LOGADO EM</label>
        <nav>
        <ul>
          <li><a href="">RIO DE JANEIRO</a></li>
          <li><a href="">SÃO PAULO</a></li>
          <li><a href="">PR</a></li>
          <li><a href="">BRASIL</a></li>
        </ul>
      </nav>
      </div>
      <div class="grid_2" style="border: solid 1px; height:100px; margin: 0px; padding: 0px" >
        <label style="font-size: 10px" align="center">TEMAS DE INTERESSE</label>
        <nav>
        <ul>
          <li><a href="">ESPORTE</a></li>
          <li><a href="">EDUCAÇÃO</a></li>
          <li><a href="">AMBIENTE</a></li>
          <li><a href="">TRABALHO</a></li>
        </ul>
      </nav>
      </div>
      <div class="grid_4" style="border: solid 1px; height:100px; margin: 0px; padding: 0px">
        <label style="font-size: 10px" align="center">REPRESENTANTES</label>
      </div>
      <div class="grid_4" style="border: solid 1px; height:100px; margin: 0px; padding: 0px">
        <label style="font-size: 10px" align="center">AMIGOS CONECTADOS</label>
      </div>
      <div class="grid_2" style="border: solid 1px; height:100px; margin: 0px; padding: 0px">
        <label style="font-size: 10px" align="center">VOTOU EM</label>
        50 leis<br>
        vote mais e melhore o sistema
      </div>
      <div class="grid_2" style="border: solid 1px; height:100px; margin: 0px; padding: 0px">
        <label style="font-size: 10px" align="center">OPÇÕES DE EMAIL</label>
        SEMANAL</br>
        email@provedorcom.br
      </div>

    </div>
    