<div class="tab1" ng-controller="AuthorizationCtrl">

<div style="float:left; width:50%; padding:10px 5px;">
<h1>Faça login com:</h1>
<br>
<button class="btn btn-facebook" ng-click="login_with_facebook()"><i class="icon-facebook-sign"></i> | Facebook</button>
<button class="btn btn-twitter" ng-click="login_with_twitter()"><i class="icon-twitter-sign"></i> | Twitter</button>
<h1>ou:</h1>
<a href="#/step1" class="btn btn-success">Cadastre-se</a>
</div>
<div style="float:right; width:50%; padding:10px 15px; border-left:1px solid grey">
<h1 class="big_title">O QUE É?</h1>
<h2 style="line-height: 120%;"> Utilizando a mesma tecnologia que o Netflix e a Amazon usam para recomendar filmes, Cidadão Automático é um aplicativo que aprende os “gostos” dos usuários em relação a leis que estão sendo votadas. Com isso, é possível avisar a você quando os representantes provavelmente irão votar contra os seus interesses, ou seja, o aplicativo “chama” quando você precisa se manifestar. Por isso o nome cidadão automático: o aplicativo estará sempre acompanhando os movimentos dos seus representantes e avisando só no momento de necessidade, ou seja, no momento em que há uma provável discordância entre você e eles.</h2>
</div>
</div>


