<!--
// Copyright 2012/2013 de Gustavo Steinberg, Flavio Soares, Pierre Andrews, Gustavo Salazar Torres, Thomaz Abramo
//
// Este arquivo é parte do programa Vigia Político. O projeto Vigia
// Político é um software livre; você pode redistribuí-lo e/ou
// modificá-lo dentro dos termos da GNU Affero General Public License
// como publicada pela Fundação do Software Livre (FSF); na versão 3 da
// Licença. Este programa é distribuído na esperança que possa ser útil,
// mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a
// qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a licença para
// maiores detalhes. Você deve ter recebido uma cópia da GNU Affero
// General Public License, sob o título "LICENCA.txt", junto com este
// programa, se não, acesse http://www.gnu.org/licenses/
-->


<span class="law_container" ng-repeat="(lawIndex, law) in laws">	
<!-- extended law -->
<!-- THIS SHOULD BE REFACTORED -->
<div class="law_box_step4" id="law_container_{{law.stdCode}}_proposals"   style="border-color: #BCBEC0; border-style: solid; border-width: 1px; margin-bottom:20px; padding:10px 0px; display:inline-block">
	<ul >
	
		<li id="law_infos_full" style="width: 100%; ">
			
			<h2>{{law.prefix}} {{law.stdCode}}/{{law.year}}</h2>
			<h4>{{law.description | characters: 400}}<a href="{{law.url}}" target="_blank" ><i style="margin-left:5px;" class="icone-mais_small"></i></a></h4>
			<ul style="padding-top:5px;">
				<li><h3>arvore</h3></li>
				<li><h3>parques</h3></li>
				<li><h3>reforma</h3></li>
				<li><h3>ambiente</h3></li>
			</ul>
		</li>

		<li id="law_stats_full" style="width: 100%;  padding-top:20px">
<div class="law_userRating" style="display: block;float: none;margin: 0 auto; width: 420px;" >
				<label style="position:relative; float:left; display:inline-block" class="grid_2"> VOCÊ É:</label>
				<ul id="voteBtns_{{law.stdCode}}" class="vote_btns" style="float:right; display:inline-block">
					<a href ng-click="vote(1,law)">
					<li id="btn_0_{{law.stdCode}}" class="voteBtn_contra_pr progress-striped" >contra</li>
					</a>
					<a href ng-click="vote(2,law)">
					<li id="btn_1_{{law.stdCode}}" class="voteBtn_parcontra_pr " >par. contra</li>
					</a>
					<a href ng-click="vote(3,law)">
					<li id="btn_2_{{law.stdCode}}" class="voteBtn_abstencao_pr " >abstenção</li>
					</a>
					<a href ng-click="vote(4,law)">
					<li id="btn_3_{{law.stdCode}}" class="voteBtn_parfavor_pr" >par. a favor</li>
					</a>
					<a href ng-click="vote(5,law)">
					<li id="btn_4_{{law.stdCode}}" class="voteBtn_afavor_pr " style="margin-right:0px">a favor</li>
					</a>
				</ul>
			</div>

			

			
		</li>
	</ul>
</div>
</span>