/*
// Copyright 2012/2013 de Gustavo Steinberg, Flavio Soares, Pierre Andrews, Gustavo Salazar Torres, Thomaz Abramo
//
// Este arquivo é parte do programa Vigia Político. O projeto Vigia
// Político é um software livre; você pode redistribuí-lo e/ou
// modificá-lo dentro dos termos da GNU Affero General Public License
// como publicada pela Fundação do Software Livre (FSF); na versão 3 da
// Licença. Este programa é distribuído na esperança que possa ser útil,
// mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a
// qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a licença para
// maiores detalhes. Você deve ter recebido uma cópia da GNU Affero
// General Public License, sob o título "LICENCA.txt", junto com este
// programa, se não, acesse http://www.gnu.org/licenses/
*/


 .icone-mais {
  display: inline-block;
  width: 29px;
  height: 29px;
  *margin-right: .3em;
  line-height: 29px;
  vertical-align: text-top;
  background-image: url("/images/icone-mais.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

 .icone-mais_small {
  position:absolute;
  width: 20px;
  height: 20px;
  *margin-right: .3em;
  line-height: 20px;
  vertical-align: text-top;
  background-image: url("/images/icone-mais_small.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}


 .icone-menos {
  display: inline-block;
  width: 29px;
  height: 29px;
  *margin-right: .3em;
  line-height: 29px;
  vertical-align: text-top;
  background-image: url("/images/icone-menos.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

 .icone-menos-verm {
  display: inline-block;
  width: 20px;
  height: 20px;
  *margin-right: .3em;
  line-height: 20px;
  vertical-align: text-top;
  background-image: url("/images/icone-menos_verm.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

 .icone-interrogacao {
  display: inline-block;
  width: 20px;
  height: 20px;
  *margin-right: .3em;
  line-height: 20px;
  vertical-align: text-top;
  background-image: url("/images/icone-interrogacao.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

 .divisor_small {
  display: inline-block;
  width: 10px;
  height: 4px;
  *margin-right: .3em;
  line-height: 4px;
  vertical-align: text-top;
  background-image: url("/images/divisor_small.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

 .divisor_big {
  display: inline-block;
  width: 22px;
  height: 9px;
  *margin-right: .3em;
  line-height: 9px;
  vertical-align: text-top;
  background-image: url("/images/divisor_big.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

 .icone-campanha {
  display: inline-block;
  width: 18px;
  height: 14px;
  *margin-right: .3em;
  line-height: 25px;
  vertical-align: text-middle;
  background-image: url("/images/glyphicons_355_bullhorn.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

 .icone-mensagem {
  display: inline-block;
  width: 18px;
  height: 12px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-middle;
  background-image: url("/images/glyphicons_010_envelope.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}


 .icone-lupa {
  display: inline-block;
  width: 24px;
  height: 24px;
  *margin-right: .3em;
  line-height: 24px;
  vertical-align: text-middle;
  background-image: url("/images/glyphicons_027_search.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

 .icone-ban {
  display: inline-block;
  width: 18px;
  height: 18px;
  *margin-right: .3em;
  line-height: 26px;
  vertical-align: text-middle;
  background-image: url("/images/glyphicons_199_ban.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

 .icone-alvo {
  display: inline-block;
  width: 25px;
  height: 25px;
  *margin-right: .3em;
  line-height: 25px;
  vertical-align: text-top;
  background-image: url("/images/glyphicons_377_riflescope.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

 .icone-fb {
  display: inline-block;
  width: 18px;
  height: 18px;
  *margin-right: .3em;
  line-height: 24px;
  vertical-align: text-middle;
  background-image: url("/images/glyphicons_social_30_facebook.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}