/*
// Copyright 2012/2013 de Gustavo Steinberg, Flavio Soares, Pierre Andrews, Gustavo Salazar Torres, Thomaz Abramo
//
// Este arquivo é parte do programa Vigia Político. O projeto Vigia
// Político é um software livre; você pode redistribuí-lo e/ou
// modificá-lo dentro dos termos da GNU Affero General Public License
// como publicada pela Fundação do Software Livre (FSF); na versão 3 da
// Licença. Este programa é distribuído na esperança que possa ser útil,
// mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a
// qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a licença para
// maiores detalhes. Você deve ter recebido uma cópia da GNU Affero
// General Public License, sob o título "LICENCA.txt", junto com este
// programa, se não, acesse http://www.gnu.org/licenses/
*/


.logo_url{
	background-image: url(/images/logo_header.jpg);
	display:block;
    height:80px;
    width:265px;
}

.repbig6{
	background-image: url(/images/representante_big-06.jpg);
	display:block;
    height:54px;
    width:53px;	
}
.repbig7{
	background-image: url(/images/representante_big-07.jpg);
	display:block;
    height:54px;
    width:53px;	
}
.repbig8{
	background-image: url(/images/representante_big-08.jpg);
	display:block;
    height:54px;
    width:53px;	
}
.repbig9{
	background-image: url(/images/representante_big-09.jpg);
	display:block;
    height:54px;
    width:53px;	
}


.amigo1{
	background-image: url(/images/amigo1.jpg);
	display:block;
    height:48px;
    width:48px;	
}

.amigo2{
	background-image: url(/images/amigo2.jpg);
	display:block;
    height:48px;
    width:48px;	
}

.amigo3{
	background-image: url(/images/amigo3.jpg);
	display:block;
    height:48px;
    width:48px;	
}

.amigo4{
	background-image: url(/images/amigo4.jpg);
	display:block;
    height:48px;
    width:48px;	
}