@import "colors";

.view .show-pl {
  margin-top: 10px;

  .tags {
  }

  .comissoes {
    li {
      float: left;
      margin: 2px;
    }
  }

  svg {
    path.arc {
      fill: whiteSmoke;
    }

    .node {
      font-size: 10px;
    }

    .link {
      fill: none;
      stroke: #1f77b4;
      stroke-opacity: .4;
      pointer-events: none;
    }

      
    .link.sim {
        stroke: $favorable_color;
    }

    .link.nao {
      stroke: $opposite_color;
    }

    .link.abstention {
      stroke: $abstention_color;
    }

    .node rect.sim {
        fill: $favorable_color;
    }

    .node rect.nao {
      fill: $opposite_color;
    }

    .node rect.abstention {
      fill: $abstention_color;
    }

    .link.source, .link.target {
      stroke-opacity: 1;
      stroke-width: 2px;
    }

    .link.source, .link.target {
      stroke: #d62728;
    }

    .node.source, .node.target  {
      stroke: #d62728 !important;
    }
  }

}
